body {
    margin: 50%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #d86f92;/*main background*/
  }
  
  .topnav a {
    /*for  defining the class of topnav a */
    float: left;
   /*which side it will be locating of its container*/
    display: block;
   /*do not allow other block element into it*/
    color: black;
    background-color:palevioletred; /*left button and right button*/
    /*it specifices the color of the class*/
    text-align: center;
    /*algin the text in center*/
    padding: 14px 16px;
    /*it provide specific space to the block*/
    text-decoration: none;
    /*gives decoration to text*/
    font-size: 17px;
    /*specifies the size of a fontn or text*/
  }
  
  .topnav a:hover {
    background-color: pink; /*background color*/
    color: black; /*font color*/
    
  }

/*slide tab gallery*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}


  
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin:  2px;
  background-color: pink; /*background color*/
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: palevioletred;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
  
  .topnav a.active {
    background-color:pink;
    color: black; /*font color*/
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right; /* assign position*/ 
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  body {
    font-family: "Lato", sans-serif;
    text-align: center; /*text align in centre */
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    background-color:pink; /*left button and right button*/

    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px; /*assign boundary*/
    text-decoration: none;
    font-size: 25px;
    color: black; /*font color*/
    
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1; /*font color*/
    background-color: palevioletred;
  }
  
  .sidenav .closebtn {
    position: absolute;
    background-color: palevioletred;/*main background*/
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
   
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  

  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

 

  {
    height: 100%;
    margin: 0;
  }
  
  